<app-second-toolbar [activatedRoute]="activatedRoute" [subject]="notifier$">
  <button mat-button (click)="fakeData()">Fake Data</button>
</app-second-toolbar>

<div class="evidence-search-bar">
  <mat-form-field class="evidence-search-bar-field">
    <mat-label>Search</mat-label>
    <input #evidenceSearch matInput [formControl]="evidenceSearchControl" />
  </mat-form-field>
</div>

<div class="evidence-lists-container">
  <app-evidence-list
    class="plaintiff-evidence-list"
    [exhibits]="filteredData.plaintiffEvidence"
    [isDefendant]="false"
    (add)="addExhibit($event)"
    (exhibitSelected)="exhibitClicked($event)"
  ></app-evidence-list>
  <app-evidence-list
    class="defendant-evidence-list"
    [exhibits]="filteredData.defendantEvidence"
    [isDefendant]="true"
    (add)="addExhibit($event)"
    (exhibitSelected)="exhibitClicked($event)"
  ></app-evidence-list>
</div>
