.evidence-list-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.evidence-list-title-button-icon > .mat-headline-2,
.evidence-list-title-button-icon > .mat-headline-4 {
  margin-bottom: 0px !important;
  margin-left: 10px;
}

.evidence-list {
  overflow-y: auto;
}
