<h2 mat-dialog-title>Exhibit</h2>

<mat-dialog-content>
  <div>
    <p>Marker</p>
    <mat-form-field>
      <input matInput [(ngModel)]="exhibit.marker" />
    </mat-form-field>
  </div>
  <div>
    <p>Description</p>
    <mat-form-field>
      <input matInput [(ngModel)]="exhibit.description" />
    </mat-form-field>
  </div>
  <div>
    <p>Supporting Witness</p>
    <mat-form-field>
      <input matInput [(ngModel)]="exhibit.supportingWitness" />
    </mat-form-field>
  </div>
  <div>
    <p>Notes</p>
    <mat-form-field class="notes">
      <textarea matInput [(ngModel)]="exhibit.notes"></textarea>
    </mat-form-field>
  </div>
  <div class="stoplight-container">
    <div
      class="circle red"
      [class.circle-selected]="exhibit.admittanceStoplight == 'red'"
      (click)="exhibit.admittanceStoplight = 'red'"
    >
      <div></div>
    </div>
    <div
      class="circle yellow"
      [class.circle-selected]="exhibit.admittanceStoplight == 'yellow'"
      (click)="exhibit.admittanceStoplight = 'yellow'"
    >
      <div></div>
    </div>
    <div
      class="circle green"
      [class.circle-selected]="exhibit.admittanceStoplight == 'green'"
      (click)="exhibit.admittanceStoplight = 'green'"
    >
      <div></div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">
    @if (addMode) {Add} @else {Close}
  </button>
</mat-dialog-actions>
