@if (loading){<app-loading></app-loading>}

<app-second-toolbar [activatedRoute]="activatedRoute" [subject]="notifier$">
  <button mat-button (click)="resetJurorPositions()">Reset Positions</button>
</app-second-toolbar>

<div class="jury-placement-container" [class.hatched-bg]="dragging">
  <!-- reverse list so first juror is on top -->
  @for (juror of data.selected.reverse(); track data.selected) {
  <div
    class="dragable-juror"
    cdkDrag
    [cdkDragData]="juror"
    (cdkDragStarted)="dragStarted()"
    (cdkDragEnded)="dragEnded($event)"
    [cdkDragFreeDragPosition]="{
      x: juror.positionX ?? 0,
      y: juror.positionY ?? 0
    }"
  >
    <app-jury-card
      [juror]="juror"
      (clicked)="jurorClicked(juror)"
    ></app-jury-card>
  </div>
  }
</div>
