<mat-toolbar class="second-toolbar">
  <div class="second-toolbar-left">{{ trial?.name }}</div>
  <div class="second-toolbar-right">
    @if (currentStep?.previous && trial && trial.id) {
    <button
      mat-button
      [routerLink]="'/trial/' + trial.id + currentStep?.previous?.route"
      class="step-button"
    >
      <span>
        <mat-icon>chevron_left</mat-icon>
        <span>{{ currentStep?.previous?.title }}</span>
      </span>
    </button>
    }
    <ng-content></ng-content>
    @if (currentStep?.next && trial && trial.id) {
    <button
      mat-button
      [routerLink]="'/trial/' + trial.id + currentStep?.next?.route"
      class="step-button"
    >
      <span>
        <span>{{ currentStep?.next?.title }}</span>
        <mat-icon>chevron_right</mat-icon>
      </span>
    </button>
    }
  </div>
</mat-toolbar>
