<h2 mat-dialog-title>Juror</h2>

<mat-dialog-content>
  <div>
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput [(ngModel)]="juror.firstName" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput [(ngModel)]="juror.lastName" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="notes">
      <mat-label>Notes</mat-label>
      <textarea matInput [(ngModel)]="juror.notes"></textarea>
    </mat-form-field>
  </div>
  <div class="stoplight-container">
    <div
      class="circle red"
      [class.circle-selected]="juror.stoplight == 'red'"
      (click)="juror.stoplight = 'red'"
    >
      <div></div>
    </div>
    <div
      class="circle yellow"
      [class.circle-selected]="juror.stoplight == 'yellow'"
      (click)="juror.stoplight = 'yellow'"
    >
      <div></div>
    </div>
    <div
      class="circle green"
      [class.circle-selected]="juror.stoplight == 'green'"
      (click)="juror.stoplight = 'green'"
    >
      <div></div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">
    @if (addMode) {Add} @else {Close}
  </button>
</mat-dialog-actions>
