@use "@angular/material" as mat;

@mixin color($theme) {
  .firms-container {
    border: solid 1px mat.get-theme-color($theme, primary, default);
  }

  .firms-title-container {
    border-bottom: solid 1px mat.get-theme-color($theme, primary, default);
    background-color: mat.get-theme-color($theme, primary, default);
  }

  .firm-plus {
    color: mat.get-theme-color($theme, accent, default);
  }

  .firm-summary:not(:last-child) {
    border-bottom: solid 1px mat.get-theme-color($theme, primary, default);
  }

  .select-firm-button {
    border-color: mat.get-theme-color($theme, accent, default) !important;
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}
