@if (loading) {
<app-loading></app-loading>
}
<!---->
@if (userProfile) {
<div class="firms-container">
  <div class="list-banner">
    <div class="list-banner-title">Firms</div>
    <button class="list-banner-add-button" mat-button (click)="addFirm()">
      +
    </button>
  </div>
  <div class="firms-list">
    @for (firm of userProfile.firms; track userProfile.firms) {
    <div class="firm-summary">
      <div class="firm-name">{{ firm.name }}</div>
      <div class="select-firm">
        <button
          class="select-firm-button"
          mat-flat-button
          (click)="changeFirm(firm)"
          color="primary"
        >
          Select
        </button>
      </div>
    </div>
    }
  </div>
</div>
}
