@if (loading) {
<app-loading></app-loading>
} @if (form) {
<!-- Hide if just registered -->
@if (!justRegistered) {
<div class="new-user-container">
  <h1>New to Second Chair?</h1>
  <button mat-flat-button color="primary" (click)="register()">Register</button>
</div>
}
<div class="login-container">
  <h1 class="login-title">Login</h1>
  <form [formGroup]="form" (ngSubmit)="login()">
    <mat-form-field class="login-field">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
    <app-error-message [control]="form.controls['email']"></app-error-message>
    <mat-form-field class="login-field">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" />
    </mat-form-field>
    <app-error-message
      [control]="form.controls['password']"
    ></app-error-message>
    @if (loginFail) {
    <div class="error-text">Invalid login credentials.</div>
    }
  </form>
  <div class="login-button-container">
    <button
      mat-flat-button
      color="primary"
      [disabled]="!formValid"
      (click)="login()"
    >
      Login
    </button>
  </div>
</div>
}
