<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer #drawer mode="over">
    <div class="top-nav-options">
      <mat-toolbar class="primary-toolbar">
        <div class="left">
          <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span class="app-title">Second Chair</span>
        </div>
      </mat-toolbar>
      @if (canAccessFirms) {
      <button
        mat-button
        class="nav-option"
        routerLink="/firms"
        [class.current-step]="currentStepTitle == 'Firms'"
      >
        <mat-icon>corporate_fare</mat-icon>
        <span>Firms</span>
      </button>
      @if (canAccessTrials) {
      <button
        mat-button
        class="nav-option"
        routerLink="/trials"
        [class.current-step]="currentStepTitle == 'Trials'"
      >
        <mat-icon>gavel</mat-icon>
        <span>Trials</span>
      </button>
      } @if (trial && trial.id) {
      <!---->
      @for (step of steps; track steps) {
      <button
        mat-button
        class="nav-option trial-step"
        [routerLink]="'/trial/' + trial.id + step.route"
        [class.current-step]="currentStepTitle == step.title"
      >
        <mat-icon>{{ step.icon }}</mat-icon>
        <span>{{ step.title }}</span>
      </button>
      }
      <!---->
      } }
    </div>
    <div class="bottom-nav-options">
      @if (useDarkTheme) {
      <button
        mat-button
        class="nav-option light-mode-button"
        (click)="setTheme(themes[1])"
      >
        <mat-icon>light_mode</mat-icon>
        <span>Light mode</span>
      </button>
      } @else {
      <button
        mat-button
        class="nav-option dark-mode-button"
        (click)="setTheme(themes[0])"
      >
        <mat-icon>dark_mode</mat-icon>
        <span>Dark mode</span>
      </button>
      } @if (isAuthenticated) {
      <!---->
      @if (useDarkTheme) {
      <button
        mat-button
        class="nav-option clear-data-button dark-clear-data-button"
        (click)="logout()"
      >
        <mat-icon>delete</mat-icon>
        <span>Logout</span>
      </button>
      } @else {
      <button
        mat-button
        class="nav-option clear-data-button light-clear-data-button"
        (click)="logout()"
      >
        <mat-icon>delete</mat-icon>
        <span>Logout</span>
      </button>
      } }
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar class="primary-toolbar">
      <div class="left">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="app-title">Second Chair</span>
      </div>
      @if (currentStep?.current) {
      <div class="right">
        <mat-icon class="title-icon">{{ currentStep?.current?.icon }}</mat-icon>
        <span class="step-title">{{ currentStep?.current?.title }}</span>
      </div>
      }
    </mat-toolbar>

    <router-outlet></router-outlet>

    @if (showMessagesIcon) {
    <button mat-fab class="messages-icon" (click)="toggleShowMessages()">
      <mat-icon color="primary">mode_comment</mat-icon>
    </button>
    }
    <!---->
    @if (showMessages) {
    <app-messaging class="floating-messaging" containerId="2"></app-messaging>
    }
  </mat-drawer-content>
</mat-drawer-container>
