@import "../variables";

$nav-width: 240px;

::ng-deep {
  .light-clear-data-button {
    &.mat-mdc-menu-item:not([disabled]):hover {
      color: var(--mat-menu-item-label-text-color) !important;
      mat-icon {
        color: var(--mat-menu-item-label-text-color) !important;
      }
    }
  }

  .mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

mat-toolbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;

  .left,
  .right {
    display: flex;
    align-items: center;
  }

  .app-title,
  .step-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
  }
}

.title-icon {
  margin-right: 16px;
  transform: scale(1.3);
}

.messages-icon {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.floating-messaging {
  position: absolute;
  left: 10px;
  bottom: 75px;
  height: 800px;
  width: 500px;
  background-color: var(--mat-app-background-color, transparent);
}

mat-drawer-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-drawer {
  width: $nav-width;
}

.nav-option {
  width: 100%;
  height: $menu-option-height;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px !important;
  border-radius: 0;
}

.trial-step-container {
  display: flex;
  flex-direction: row;
}

.light-mode-button,
.dark-mode-button {
  display: flex;
  align-items: center;
  flex-grow: 5;
}

.light-mode-icon {
  fill: white;
}

.clear-data-button {
  color: #ffffff;
  mat-icon {
    color: #ffffff;
  }
}
