@use "@angular/material" as mat;
@import "../variables";

.container {
  min-width: 90%;
  margin: 10px;
}

.juror-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 100%;
  min-height: calc(var(--card-size) + var(--card-margin) * 2);
  border: solid 1px mat.get-theme-color($dark-theme, primary, default);
  border-radius: 4px;
}

.mode-selector {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mode-button {
  background: transparent;
  border: 0;
  margin: 0 10px;
  padding: 10px;
  color: inherit;
  cursor: pointer;
}

.active-mode {
  border-bottom: 1px solid mat.get-theme-color($dark-theme, primary, default);
  font-weight: 600;
}
