<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/trials">
    <mat-icon>gavel</mat-icon>
    <span>Trials</span>
  </button>
  @if (trial && trial.id) { @for (step of steps; track steps) {
  <button mat-menu-item [routerLink]="'/trial/' + trial.id + step.route">
    <mat-icon>{{ step.icon }}</mat-icon>
    <span>{{ step.title }}</span>
  </button>
  } } @if (useDarkTheme) {
  <button mat-menu-item (click)="setTheme(themes[1])" class="light-mode-button">
    <mat-icon>light_mode</mat-icon>
    <span>Light mode</span>
  </button>
  } @else {
  <button mat-menu-item (click)="setTheme(themes[0])" class="dark-mode-button">
    <mat-icon>dark_mode</mat-icon>
    <span>Dark mode</span>
  </button>
  } @if (useDarkTheme) {
  <button
    mat-menu-item
    (click)="logout()"
    class="clear-data-button dark-clear-data-button"
  >
    <mat-icon>delete</mat-icon>
    <span>Logout</span>
  </button>
  } @else {
  <button
    mat-menu-item
    (click)="logout()"
    class="clear-data-button light-clear-data-button"
  >
    <mat-icon>delete</mat-icon>
    <span>Logout</span>
  </button>
  }
</mat-menu>

<mat-toolbar class="primary-toolbar">
  <div class="left">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Second Chair</span>
  </div>
  @if (currentStep?.current) {
  <div class="right">
    <mat-icon class="title-icon">{{ currentStep?.current?.icon }}</mat-icon>
    <span>{{ currentStep?.current?.title }}</span>
  </div>
  }
</mat-toolbar>

<router-outlet></router-outlet>
