@if (loading) {
<app-loading></app-loading>
} @if (form) {
<div class="register-container">
  <h1 class="register-title">Register</h1>
  <form [formGroup]="form" (ngSubmit)="register()">
    <mat-form-field class="register-field">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
    <app-error-message [control]="form.controls['email']"></app-error-message>
    <mat-form-field class="register-field">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" />
    </mat-form-field>
    <app-error-message
      [control]="form.controls['password']"
    ></app-error-message>
  </form>
  <div class="register-button-container">
    <button
      mat-flat-button
      color="primary"
      [disabled]="!formValid"
      (click)="register()"
    >
      Register
    </button>
  </div>
</div>
}
