@if (loadingTrial){<app-loading></app-loading>}

<app-second-toolbar [activatedRoute]="activatedRoute" [subject]="notifier$">
</app-second-toolbar>

<form [formGroup]="form" (ngSubmit)="save()">
  <mat-card class="trial-details-card">
    <mat-card-content>
      <p>Name</p>
      <mat-form-field>
        <input matInput formControlName="name" placeholder="Name" type="text" />
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <button mat-button [disabled]="!formValid">Save</button>
</form>
