@if (loadingTrial){<app-loading></app-loading>}

<app-second-toolbar [activatedRoute]="activatedRoute" [subject]="notifier$">
</app-second-toolbar>

@if (form) {
<form [formGroup]="form" (ngSubmit)="save()">
  <div class="trial-details-card">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
  </div>

  <button
    mat-flat-button
    color="primary"
    [disabled]="!formValid"
    class="save-trial-button"
  >
    Save
  </button>
</form>
}
