@if (loading) {
<app-loading></app-loading>
} @if (trial) {
<app-second-toolbar [activatedRoute]="activatedRoute" [subject]="notifier$">
  <button
    mat-button
    [routerLink]="'/trial/' + trial.id + firstStep.route"
    class="step-button"
  >
    <span>
      <span>{{ firstStep.title }}</span>
      <mat-icon>chevron_right</mat-icon>
    </span>
  </button>
</app-second-toolbar>
}

<div class="trials-container">
  <div class="trials-title-container">
    <button class="add-trial-button" mat-button (click)="addTrial()">
      <div class="trials-title mat-h2">Trials +</div>
    </button>
  </div>
  <div class="trials-list">
    @for (trial of trials; track trials) {
    <div class="trial-summary">
      <div class="trial-name">{{ trial.name }}</div>
      <div class="select-trial">
        <button
          class="select-trial-button"
          mat-flat-button
          (click)="selectTrialSummary(trial)"
          color="primary"
        >
          Select
        </button>
      </div>
    </div>
    }
  </div>
</div>
