@import "../../../variables";

.messages-component-container {
  max-height: calc(100vh - 64px - $message-margin * 2);
  height: 100%;
  margin: $message-margin;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messages-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: baseline;
  margin-bottom: $message-margin;
  overflow-x: hidden;
  overflow-y: auto;
}

.message {
  margin-left: $message-margin;
  margin-top: $message-top-margin;

  .message-author-line {
    display: flex;
    align-items: baseline;

    .author {
      font-weight: 500;
    }

    .date {
      font-weight: 100;
      font-size: 11px;
    }
  }

  .message-content {
    margin-top: 2px;
  }
}

.message-form {
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: 10px;
  height: 78px;

  mat-form-field {
    flex-grow: 1;
    margin: 0;
  }

  button {
    margin-left: 10px;
    height: 57px;
    position: relative;
    top: 3px;
  }
}
