@if (loading) {
<app-loading></app-loading>
} @if (currentCase) {
<app-second-toolbar [activatedRoute]="activatedRoute" [subject]="notifier$">
  <button
    mat-button
    [routerLink]="'/case/' + currentCase.id + firstStep.route"
    class="step-button"
  >
    <span>
      <span>{{ firstStep.title }}</span>
      <mat-icon>chevron_right</mat-icon>
    </span>
  </button>
</app-second-toolbar>
}

<div class="cases-container">
  <div class="cases-title">
    <button class="add-case-button" mat-button (click)="addCase()">
      <h2>Cases<mat-icon>add</mat-icon></h2>
    </button>
  </div>
  <div class="cases-list">
    @for (case of cases; track cases) {
    <div>
      <div>{{ case.name }}</div>
      <div>
        <button mat-button (click)="selectCaseSummary(case)">Select</button>
      </div>
    </div>
    }
  </div>
</div>
