@use "@angular/material" as mat;

@mixin color($theme) {
  .cases-container {
    border: solid 1px mat.get-theme-color($theme, primary, default);
  }

  .cases-title {
    border-bottom: solid 1px mat.get-theme-color($theme, primary, default);
    background-color: mat.get-theme-color($theme, primary, default);
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}
