@use "@angular/material" as mat;
@import "../../../variables";

$circle-size: 21px;

mat-card {
  position: relative;
  width: $card-size;
  height: $card-size;
  max-width: $card-size;
  max-height: $card-size;
  cursor: move;
  transition: transform 0.2s ease-in-out;
  margin: $card-margin;
}

.stoplight-container {
  width: 100%;
  height: $circle-size;
}

.circle {
  position: absolute;
  top: 5%;
  right: 7%;
  width: $circle-size;
  height: $circle-size;
}

.juror-number {
  position: absolute;
  top: 5%;
  left: 8%;
}

mat-card-content {
  height: 100%;
}

.card-content {
  position: relative;
  top: -$circle-size;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    margin: 0;
  }
}
