<div class="strike-tracker-bar">
  <div class="plaintiff-strike-tracker">
    <button mat-button class="strike-button" (click)="addPlaintiffStrike(-1)">
      -
    </button>
    @for(strike of createRange(plaintiffStrikes); track plaintiffStrikes) {
    <mat-icon>radio_button_checked</mat-icon>
    } @for(strike of createRange(totalStrikes - plaintiffStrikes); track
    plaintiffStrikes) {
    <mat-icon>radio_button_unchecked</mat-icon>
    }
    <button mat-button class="strike-button" (click)="addPlaintiffStrike()">
      +
    </button>
    <span class="tracker-label">π</span>
  </div>
  <div class="center-strike-tracker">
    <button mat-button class="strike-button" (click)="addTotalStrike(-1)">
      -
    </button>
    <span class="tracker-label">Strikes</span>
    <button mat-button class="strike-button" (click)="addTotalStrike()">
      +
    </button>
  </div>
  <div class="defendant-strike-tracker">
    <button mat-button class="strike-button" (click)="addDefendantStrike(-1)">
      -
    </button>
    @for(strike of createRange(defendantStrikes); track defendantStrikes) {
    <mat-icon>radio_button_checked</mat-icon>
    } @for(strike of createRange(totalStrikes - defendantStrikes); track
    defendantStrikes) {
    <mat-icon>radio_button_unchecked</mat-icon>
    }
    <button mat-button class="strike-button" (click)="addDefendantStrike()">
      +
    </button>
    <span class="tracker-label">Δ</span>
  </div>
</div>

<div class="container">
  <h2>Jury Box</h2>

  <div
    id="selected-jurors"
    class="juror-list"
    cdkDropList
    cdkDropListOrientation="horizontal"
    [cdkDropListData]="selected"
    [cdkDropListConnectedTo]="[
      'selected-jurors',
      'juror-pool',
      'not-selected-jurors'
    ]"
    (cdkDropListDropped)="drop($event)"
  >
    @for (juror of selected; track juror) {
    <app-jury-card
      cdkDrag
      [juror]="juror"
      (clicked)="jurorClicked($event)"
    ></app-jury-card>
    }
  </div>
</div>

<div class="container">
  <h2>Jury Pool</h2>

  <div
    id="juror-pool"
    class="juror-list"
    cdkDropList
    cdkDropListOrientation="horizontal"
    [cdkDropListData]="pool"
    [cdkDropListConnectedTo]="[
      'selected-jurors',
      'juror-pool',
      'not-selected-jurors'
    ]"
    (cdkDropListDropped)="drop($event)"
  >
    @for (juror of pool; track juror) {
    <app-jury-card
      cdkDrag
      [juror]="juror"
      (clicked)="jurorClicked($event)"
    ></app-jury-card>
    }
  </div>
</div>

<div class="container">
  <h2><mat-icon>delete</mat-icon></h2>

  <div
    id="not-selected-jurors"
    class="juror-list"
    cdkDropList
    cdkDropListOrientation="horizontal"
    [cdkDropListData]="notSelected"
    [cdkDropListConnectedTo]="[
      'selected-jurors',
      'juror-pool',
      'not-selected-jurors'
    ]"
    (cdkDropListDropped)="drop($event)"
  >
    @for (juror of notSelected; track juror) {
    <app-jury-card
      cdkDrag
      [juror]="juror"
      (clicked)="jurorClicked($event)"
    ></app-jury-card>
    }
  </div>
</div>
