<app-second-toolbar [activatedRoute]="activatedRoute" [subject]="notifier$">
</app-second-toolbar>

<div class="evidence-lists-container">
  <div class="plaintiff-evidence-container">
    <h1 class="evidence-title mat-headline-2">π</h1>
    <button mat-button (click)="addExhibit(false)">+</button>
    <div class="evidence-list">
      @for (exhibit of data.plaintiffEvidence; track data.plaintiffEvidence) {
      <app-exhibit-card
        [exhibit]="exhibit"
        (clicked)="exhibitClicked($event)"
      ></app-exhibit-card>
      }
    </div>
  </div>
  <div class="defendant-evidence-container">
    <h1 class="evidence-title mat-headline-2">Δ</h1>
    <button mat-button (click)="addExhibit()">+</button>
    <div class="evidence-list">
      @for (exhibit of data.defendantEvidence; track data.defendantEvidence) {
      <app-exhibit-card
        [exhibit]="exhibit"
        (clicked)="exhibitClicked($event)"
      ></app-exhibit-card>
      }
    </div>
  </div>
</div>
