.evidence-lists-container {
  width: 100%;
  max-height: 95%;
  display: flex;
}

.plaintiff-evidence-container,
.defendant-evidence-container {
  width: 50%;
}

.plaintiff-evidence-container {
  margin-left: 10%;
  margin-right: 2%;
}

.defendant-evidence-container {
  margin-right: 10%;
  margin-left: 2%;
}

.evidence-title {
  width: 100%;
  margin: auto;
  text-align: center;
}

.evidence-list {
  min-height: 50%;
  max-height: 80%;
  min-width: 30%;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  overflow-y: scroll;
}
